$one : calc(100%/1);
$one-half : calc(100%/2);
$one-third : calc(100%/3);
$one-fourth : calc(100%/4);
$one-fifth : calc(100%/5);
$one-sixth : calc(100%/6);
$one-seventh : calc(100%/7);
$one-eighth : calc(100%/8);
$one-ninth : calc(100%/9);
$one-tenth : calc(100%/10);
$one-eleventh : calc(100%/11);
$one-twelth : calc(100%/12);

$xs--max: 639px;
$s--min: 640px;
$s--max: 959px;
$m--min: 960px;
$m--max: 1199px;
$l--min: 1200px;
$l--max: 1599px;
$xl--min: 1600px;

$btn-padding : 0 30px;
$btn-padding--small : 0 15px;
$btn-padding--large : 0 40px;