@import 'grid';
@import 'flex';
@import 'colors';
@import 'typography';
@import 'buttons';
@import 'labels';
@import 'badges';

* {
  box-sizing: border-box;
  font-family: $proxima;
}

body {
  margin: 0;
}

.text-center {
  text-align: center;
}

.padded {
  padding: 15px;
}