.col-1-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .col-1-1 > * {
    flex: 0 0 calc(100%/1); }
  .col-1-1.gutter {
    justify-content: space-evenly; }
    .col-1-1.gutter > * {
      flex: 0 0 calc(90%/1); }

.col-1-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .col-1-2 > * {
    flex: 0 0 calc(100%/2); }
  .col-1-2.gutter {
    justify-content: space-evenly; }
    .col-1-2.gutter > * {
      flex: 0 0 calc(90%/2); }

.col-1-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .col-1-3 > * {
    flex: 0 0 calc(100%/3); }
  .col-1-3.gutter {
    justify-content: space-evenly; }
    .col-1-3.gutter > * {
      flex: 0 0 calc(90%/3); }

.col-1-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .col-1-4 > * {
    flex: 0 0 calc(100%/4); }
  .col-1-4.gutter {
    justify-content: space-evenly; }
    .col-1-4.gutter > * {
      flex: 0 0 calc(90%/4); }

.col-1-5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .col-1-5 > * {
    flex: 0 0 calc(100%/5); }
  .col-1-5.gutter {
    justify-content: space-evenly; }
    .col-1-5.gutter > * {
      flex: 0 0 calc(90%/5); }

.col-1-6 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .col-1-6 > * {
    flex: 0 0 calc(100%/6); }
  .col-1-6.gutter {
    justify-content: space-evenly; }
    .col-1-6.gutter > * {
      flex: 0 0 calc(90%/6); }

.col-1-7 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .col-1-7 > * {
    flex: 0 0 calc(100%/7); }
  .col-1-7.gutter {
    justify-content: space-evenly; }
    .col-1-7.gutter > * {
      flex: 0 0 calc(90%/7); }

.col-1-8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .col-1-8 > * {
    flex: 0 0 calc(100%/8); }
  .col-1-8.gutter {
    justify-content: space-evenly; }
    .col-1-8.gutter > * {
      flex: 0 0 calc(90%/8); }

.col-1-9 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .col-1-9 > * {
    flex: 0 0 calc(100%/9); }
  .col-1-9.gutter {
    justify-content: space-evenly; }
    .col-1-9.gutter > * {
      flex: 0 0 calc(90%/9); }

.col-1-10 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .col-1-10 > * {
    flex: 0 0 calc(100%/10); }
  .col-1-10.gutter {
    justify-content: space-evenly; }
    .col-1-10.gutter > * {
      flex: 0 0 calc(90%/10); }

.col-1-11 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .col-1-11 > * {
    flex: 0 0 calc(100%/11); }
  .col-1-11.gutter {
    justify-content: space-evenly; }
    .col-1-11.gutter > * {
      flex: 0 0 calc(90%/11); }

.col-1-12 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .col-1-12 > * {
    flex: 0 0 calc(100%/12); }
  .col-1-12.gutter {
    justify-content: space-evenly; }
    .col-1-12.gutter > * {
      flex: 0 0 calc(90%/12); }

@media screen and (max-width: 639px) {
  .col-1-1-xs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-1-xs > * {
      flex: 0 0 calc(100%/1); }
    .col-1-1-xs.gutter {
      justify-content: space-evenly; }
      .col-1-1-xs.gutter > * {
        flex: 0 0 calc(90%/1); }
  .col-1-2-xs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-2-xs > * {
      flex: 0 0 calc(100%/2); }
    .col-1-2-xs.gutter {
      justify-content: space-evenly; }
      .col-1-2-xs.gutter > * {
        flex: 0 0 calc(90%/2); }
  .col-1-3-xs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-3-xs > * {
      flex: 0 0 calc(100%/3); }
    .col-1-3-xs.gutter {
      justify-content: space-evenly; }
      .col-1-3-xs.gutter > * {
        flex: 0 0 calc(90%/3); }
  .col-1-4-xs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-4-xs > * {
      flex: 0 0 calc(100%/4); }
    .col-1-4-xs.gutter {
      justify-content: space-evenly; }
      .col-1-4-xs.gutter > * {
        flex: 0 0 calc(90%/4); }
  .col-1-5-xs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-5-xs > * {
      flex: 0 0 calc(100%/5); }
    .col-1-5-xs.gutter {
      justify-content: space-evenly; }
      .col-1-5-xs.gutter > * {
        flex: 0 0 calc(90%/5); }
  .col-1-6-xs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-6-xs > * {
      flex: 0 0 calc(100%/6); }
    .col-1-6-xs.gutter {
      justify-content: space-evenly; }
      .col-1-6-xs.gutter > * {
        flex: 0 0 calc(90%/6); }
  .col-1-7-xs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-7-xs > * {
      flex: 0 0 calc(100%/7); }
    .col-1-7-xs.gutter {
      justify-content: space-evenly; }
      .col-1-7-xs.gutter > * {
        flex: 0 0 calc(90%/7); }
  .col-1-8-xs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-8-xs > * {
      flex: 0 0 calc(100%/8); }
    .col-1-8-xs.gutter {
      justify-content: space-evenly; }
      .col-1-8-xs.gutter > * {
        flex: 0 0 calc(90%/8); }
  .col-1-9-xs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-9-xs > * {
      flex: 0 0 calc(100%/9); }
    .col-1-9-xs.gutter {
      justify-content: space-evenly; }
      .col-1-9-xs.gutter > * {
        flex: 0 0 calc(90%/9); }
  .col-1-10-xs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-10-xs > * {
      flex: 0 0 calc(100%/10); }
    .col-1-10-xs.gutter {
      justify-content: space-evenly; }
      .col-1-10-xs.gutter > * {
        flex: 0 0 calc(90%/10); }
  .col-1-11-xs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-11-xs > * {
      flex: 0 0 calc(100%/11); }
    .col-1-11-xs.gutter {
      justify-content: space-evenly; }
      .col-1-11-xs.gutter > * {
        flex: 0 0 calc(90%/11); }
  .col-1-12-xs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-12-xs > * {
      flex: 0 0 calc(100%/12); }
    .col-1-12-xs.gutter {
      justify-content: space-evenly; }
      .col-1-12-xs.gutter > * {
        flex: 0 0 calc(90%/12); } }

@media screen and (min-width: 640px) and (max-width: 959px) {
  .col-1-1-s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-1-s > * {
      flex: 0 0 calc(100%/1); }
    .col-1-1-s.gutter {
      justify-content: space-evenly; }
      .col-1-1-s.gutter > * {
        flex: 0 0 calc(90%/1); }
  .col-1-2-s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-2-s > * {
      flex: 0 0 calc(100%/2); }
    .col-1-2-s.gutter {
      justify-content: space-evenly; }
      .col-1-2-s.gutter > * {
        flex: 0 0 calc(90%/2); }
  .col-1-3-s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-3-s > * {
      flex: 0 0 calc(100%/3); }
    .col-1-3-s.gutter {
      justify-content: space-evenly; }
      .col-1-3-s.gutter > * {
        flex: 0 0 calc(90%/3); }
  .col-1-4-s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-4-s > * {
      flex: 0 0 calc(100%/4); }
    .col-1-4-s.gutter {
      justify-content: space-evenly; }
      .col-1-4-s.gutter > * {
        flex: 0 0 calc(90%/4); }
  .col-1-5-s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-5-s > * {
      flex: 0 0 calc(100%/5); }
    .col-1-5-s.gutter {
      justify-content: space-evenly; }
      .col-1-5-s.gutter > * {
        flex: 0 0 calc(90%/5); }
  .col-1-6-s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-6-s > * {
      flex: 0 0 calc(100%/6); }
    .col-1-6-s.gutter {
      justify-content: space-evenly; }
      .col-1-6-s.gutter > * {
        flex: 0 0 calc(90%/6); }
  .col-1-7-s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-7-s > * {
      flex: 0 0 calc(100%/7); }
    .col-1-7-s.gutter {
      justify-content: space-evenly; }
      .col-1-7-s.gutter > * {
        flex: 0 0 calc(90%/7); }
  .col-1-8-s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-8-s > * {
      flex: 0 0 calc(100%/8); }
    .col-1-8-s.gutter {
      justify-content: space-evenly; }
      .col-1-8-s.gutter > * {
        flex: 0 0 calc(90%/8); }
  .col-1-9-s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-9-s > * {
      flex: 0 0 calc(100%/9); }
    .col-1-9-s.gutter {
      justify-content: space-evenly; }
      .col-1-9-s.gutter > * {
        flex: 0 0 calc(90%/9); }
  .col-1-10-s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-10-s > * {
      flex: 0 0 calc(100%/10); }
    .col-1-10-s.gutter {
      justify-content: space-evenly; }
      .col-1-10-s.gutter > * {
        flex: 0 0 calc(90%/10); }
  .col-1-11-s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-11-s > * {
      flex: 0 0 calc(100%/11); }
    .col-1-11-s.gutter {
      justify-content: space-evenly; }
      .col-1-11-s.gutter > * {
        flex: 0 0 calc(90%/11); }
  .col-1-12-s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-12-s > * {
      flex: 0 0 calc(100%/12); }
    .col-1-12-s.gutter {
      justify-content: space-evenly; }
      .col-1-12-s.gutter > * {
        flex: 0 0 calc(90%/12); } }

@media screen and (min-width: 960px) and (max-width: 1199px) {
  .col-1-1-m {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-1-m > * {
      flex: 0 0 calc(100%/1); }
    .col-1-1-m.gutter {
      justify-content: space-evenly; }
      .col-1-1-m.gutter > * {
        flex: 0 0 calc(90%/1); }
  .col-1-2-m {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-2-m > * {
      flex: 0 0 calc(100%/2); }
    .col-1-2-m.gutter {
      justify-content: space-evenly; }
      .col-1-2-m.gutter > * {
        flex: 0 0 calc(90%/2); }
  .col-1-3-m {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-3-m > * {
      flex: 0 0 calc(100%/3); }
    .col-1-3-m.gutter {
      justify-content: space-evenly; }
      .col-1-3-m.gutter > * {
        flex: 0 0 calc(90%/3); }
  .col-1-4-m {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-4-m > * {
      flex: 0 0 calc(100%/4); }
    .col-1-4-m.gutter {
      justify-content: space-evenly; }
      .col-1-4-m.gutter > * {
        flex: 0 0 calc(90%/4); }
  .col-1-5-m {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-5-m > * {
      flex: 0 0 calc(100%/5); }
    .col-1-5-m.gutter {
      justify-content: space-evenly; }
      .col-1-5-m.gutter > * {
        flex: 0 0 calc(90%/5); }
  .col-1-6-m {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-6-m > * {
      flex: 0 0 calc(100%/6); }
    .col-1-6-m.gutter {
      justify-content: space-evenly; }
      .col-1-6-m.gutter > * {
        flex: 0 0 calc(90%/6); }
  .col-1-7-m {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-7-m > * {
      flex: 0 0 calc(100%/7); }
    .col-1-7-m.gutter {
      justify-content: space-evenly; }
      .col-1-7-m.gutter > * {
        flex: 0 0 calc(90%/7); }
  .col-1-8-m {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-8-m > * {
      flex: 0 0 calc(100%/8); }
    .col-1-8-m.gutter {
      justify-content: space-evenly; }
      .col-1-8-m.gutter > * {
        flex: 0 0 calc(90%/8); }
  .col-1-9-m {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-9-m > * {
      flex: 0 0 calc(100%/9); }
    .col-1-9-m.gutter {
      justify-content: space-evenly; }
      .col-1-9-m.gutter > * {
        flex: 0 0 calc(90%/9); }
  .col-1-10-m {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-10-m > * {
      flex: 0 0 calc(100%/10); }
    .col-1-10-m.gutter {
      justify-content: space-evenly; }
      .col-1-10-m.gutter > * {
        flex: 0 0 calc(90%/10); }
  .col-1-11-m {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-11-m > * {
      flex: 0 0 calc(100%/11); }
    .col-1-11-m.gutter {
      justify-content: space-evenly; }
      .col-1-11-m.gutter > * {
        flex: 0 0 calc(90%/11); }
  .col-1-12-m {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-12-m > * {
      flex: 0 0 calc(100%/12); }
    .col-1-12-m.gutter {
      justify-content: space-evenly; }
      .col-1-12-m.gutter > * {
        flex: 0 0 calc(90%/12); } }

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .col-1-1-l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-1-l > * {
      flex: 0 0 calc(100%/1); }
    .col-1-1-l.gutter {
      justify-content: space-evenly; }
      .col-1-1-l.gutter > * {
        flex: 0 0 calc(90%/1); }
  .col-1-2-l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-2-l > * {
      flex: 0 0 calc(100%/2); }
    .col-1-2-l.gutter {
      justify-content: space-evenly; }
      .col-1-2-l.gutter > * {
        flex: 0 0 calc(90%/2); }
  .col-1-3-l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-3-l > * {
      flex: 0 0 calc(100%/3); }
    .col-1-3-l.gutter {
      justify-content: space-evenly; }
      .col-1-3-l.gutter > * {
        flex: 0 0 calc(90%/3); }
  .col-1-4-l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-4-l > * {
      flex: 0 0 calc(100%/4); }
    .col-1-4-l.gutter {
      justify-content: space-evenly; }
      .col-1-4-l.gutter > * {
        flex: 0 0 calc(90%/4); }
  .col-1-5-l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-5-l > * {
      flex: 0 0 calc(100%/5); }
    .col-1-5-l.gutter {
      justify-content: space-evenly; }
      .col-1-5-l.gutter > * {
        flex: 0 0 calc(90%/5); }
  .col-1-6-l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-6-l > * {
      flex: 0 0 calc(100%/6); }
    .col-1-6-l.gutter {
      justify-content: space-evenly; }
      .col-1-6-l.gutter > * {
        flex: 0 0 calc(90%/6); }
  .col-1-7-l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-7-l > * {
      flex: 0 0 calc(100%/7); }
    .col-1-7-l.gutter {
      justify-content: space-evenly; }
      .col-1-7-l.gutter > * {
        flex: 0 0 calc(90%/7); }
  .col-1-8-l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-8-l > * {
      flex: 0 0 calc(100%/8); }
    .col-1-8-l.gutter {
      justify-content: space-evenly; }
      .col-1-8-l.gutter > * {
        flex: 0 0 calc(90%/8); }
  .col-1-9-l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-9-l > * {
      flex: 0 0 calc(100%/9); }
    .col-1-9-l.gutter {
      justify-content: space-evenly; }
      .col-1-9-l.gutter > * {
        flex: 0 0 calc(90%/9); }
  .col-1-10-l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-10-l > * {
      flex: 0 0 calc(100%/10); }
    .col-1-10-l.gutter {
      justify-content: space-evenly; }
      .col-1-10-l.gutter > * {
        flex: 0 0 calc(90%/10); }
  .col-1-11-l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-11-l > * {
      flex: 0 0 calc(100%/11); }
    .col-1-11-l.gutter {
      justify-content: space-evenly; }
      .col-1-11-l.gutter > * {
        flex: 0 0 calc(90%/11); }
  .col-1-12-l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-12-l > * {
      flex: 0 0 calc(100%/12); }
    .col-1-12-l.gutter {
      justify-content: space-evenly; }
      .col-1-12-l.gutter > * {
        flex: 0 0 calc(90%/12); } }

@media screen and (min-width: 1600px) {
  .col-1-1-xl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-1-xl > * {
      flex: 0 0 calc(100%/1); }
    .col-1-1-xl.gutter {
      justify-content: space-evenly; }
      .col-1-1-xl.gutter > * {
        flex: 0 0 calc(90%/1); }
  .col-1-2-xl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-2-xl > * {
      flex: 0 0 calc(100%/2); }
    .col-1-2-xl.gutter {
      justify-content: space-evenly; }
      .col-1-2-xl.gutter > * {
        flex: 0 0 calc(90%/2); }
  .col-1-3-xl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-3-xl > * {
      flex: 0 0 calc(100%/3); }
    .col-1-3-xl.gutter {
      justify-content: space-evenly; }
      .col-1-3-xl.gutter > * {
        flex: 0 0 calc(90%/3); }
  .col-1-4-xl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-4-xl > * {
      flex: 0 0 calc(100%/4); }
    .col-1-4-xl.gutter {
      justify-content: space-evenly; }
      .col-1-4-xl.gutter > * {
        flex: 0 0 calc(90%/4); }
  .col-1-5-xl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-5-xl > * {
      flex: 0 0 calc(100%/5); }
    .col-1-5-xl.gutter {
      justify-content: space-evenly; }
      .col-1-5-xl.gutter > * {
        flex: 0 0 calc(90%/5); }
  .col-1-6-xl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-6-xl > * {
      flex: 0 0 calc(100%/6); }
    .col-1-6-xl.gutter {
      justify-content: space-evenly; }
      .col-1-6-xl.gutter > * {
        flex: 0 0 calc(90%/6); }
  .col-1-7-xl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-7-xl > * {
      flex: 0 0 calc(100%/7); }
    .col-1-7-xl.gutter {
      justify-content: space-evenly; }
      .col-1-7-xl.gutter > * {
        flex: 0 0 calc(90%/7); }
  .col-1-8-xl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-8-xl > * {
      flex: 0 0 calc(100%/8); }
    .col-1-8-xl.gutter {
      justify-content: space-evenly; }
      .col-1-8-xl.gutter > * {
        flex: 0 0 calc(90%/8); }
  .col-1-9-xl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-9-xl > * {
      flex: 0 0 calc(100%/9); }
    .col-1-9-xl.gutter {
      justify-content: space-evenly; }
      .col-1-9-xl.gutter > * {
        flex: 0 0 calc(90%/9); }
  .col-1-10-xl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-10-xl > * {
      flex: 0 0 calc(100%/10); }
    .col-1-10-xl.gutter {
      justify-content: space-evenly; }
      .col-1-10-xl.gutter > * {
        flex: 0 0 calc(90%/10); }
  .col-1-11-xl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-11-xl > * {
      flex: 0 0 calc(100%/11); }
    .col-1-11-xl.gutter {
      justify-content: space-evenly; }
      .col-1-11-xl.gutter > * {
        flex: 0 0 calc(90%/11); }
  .col-1-12-xl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .col-1-12-xl > * {
      flex: 0 0 calc(100%/12); }
    .col-1-12-xl.gutter {
      justify-content: space-evenly; }
      .col-1-12-xl.gutter > * {
        flex: 0 0 calc(90%/12); } }

.flex {
  display: flex; }
  .flex-column {
    flex-direction: column; }
  .flex-row {
    flex-direction: row; }
  .flex-justify-center {
    justify-content: center; }
  .flex-justify-start {
    justify-content: flex-start; }
  .flex-justify-end {
    justify-content: flex-end; }
  .flex-justify-around {
    justify-content: space-around; }
  .flex-justify-between {
    justify-content: space-between; }
  .flex-justify-evenly {
    justify-content: space-evenly; }
  .flex-align-center {
    align-items: center; }
  .flex-align-start {
    align-items: flex-start; }
  .flex-align-end {
    align-items: flex-end; }
  .flex-align-around {
    align-items: space-around; }
  .flex-align-between {
    align-items: space-between; }
  .flex-align-evenly {
    align-items: space-evenly; }

.btn {
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-size: 14px;
  line-height: 38px;
  text-decoration: none;
  padding: 0 30px; }
  .btn-small {
    padding: 0 15px;
    line-height: 28px; }
  .btn-large {
    padding: 0 40px;
    line-height: 53px; }
  .btn-disabled {
    color: #999;
    background-color: #FFF;
    border: 1px solid #e5e5e5; }
    .btn-disabled:hover {
      cursor: not-allowed; }
  .btn-default {
    color: #222;
    background-color: #FFF;
    border: 1px solid #e5e5e5; }
    .btn-default:hover {
      background-color: #FFF;
      border-color: #b2b2b2; }
  .btn-primary {
    color: #FFF;
    background-color: #1e87f0;
    border: 1px solid transparent; }
    .btn-primary:hover {
      background-color: #0f7ae5;
      border-color: transparent; }
  .btn-secondary {
    color: #FFF;
    background-color: #222;
    border: 1px solid transparent; }
    .btn-secondary:hover {
      background-color: #151515;
      border-color: transparent; }
  .btn-danger {
    color: #FFF;
    background-color: #f0506e;
    border: 1px solid transparent; }
    .btn-danger:hover {
      background-color: #ee395b;
      border-color: transparent; }

.btn-group {
  display: inline-flex; }

.label {
  font-family: "Proxima Nova", Georgia, sans-serif;
  display: inline-block;
  padding: 0 10px;
  background-color: #1e87f0;
  line-height: 1.5;
  font-size: 12px;
  color: #FFF;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 2px;
  text-transform: uppercase; }
  .label-success {
    background-color: #32d296; }
  .label-warning {
    background-color: #faa05a; }
  .label-danger {
    background-color: #f0506e; }

.badge {
  font-family: "Proxima Nova", Georgia, sans-serif;
  min-width: 22px;
  height: 22px;
  line-height: 22px;
  padding: 5px 10px;
  border-radius: 500px;
  vertical-align: middle;
  background: #1e87f0;
  color: #FFF;
  font-size: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center; }
  .badge-success {
    background-color: #32d296; }
  .badge-warning {
    background-color: #faa05a; }
  .badge-danger {
    background-color: #f0506e; }

* {
  box-sizing: border-box;
  font-family: "Proxima Nova", Georgia, sans-serif; }

body {
  margin: 0; }

.text-center {
  text-align: center; }

.padded {
  padding: 15px; }
